$font-main: var(--font-main);
$font-proxima: var(--font-proxima);

$color-text: var(--color-text);
$color-bg: var(--color-bg);
$color-bg-dark: var(--color-bg-dark);
$color-selection: var(--color-selection);
$color-yellow: var(--color-yellow);
$color-yellow-rgb: var(--color-yellow-rgb);
$color-red: var(--color-red);
$color-red-rgb: var(--color-red-rgb);
$color-gray: var(--color-gray);
$color-light-gray: var(--color-light-gray);
$color-light-gray-rgb: var(--color-light-gray-rgb);
